@model IEnumerable<MarketPlace.Models.BidViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>My Bids on Projects</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeclineReason)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeclineReason)
        </td>

        <td>
            @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "UserBids", routeValues: new { bidId = item.Id }, htmlAttributes: null)
            @Html.ActionLink(linkText: "Delete", actionName: "Delete", controllerName: "UserBids", routeValues: new { bidId = item.Id }, htmlAttributes: null)




        </td>
    </tr>
}

</table>
