@model IEnumerable<MarketPlace.Models.BidViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Bids for My Projects</h2>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@*figure out why these things aren't loading from layout page*@

<style>
    .popup{
        
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }
    .popupLink{
        cursor:pointer;
    }
</style>


<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

        <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeclineReason)
            </th>

            <th></th>
        </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.EditorFor(modelItem => item.ProjectId)*@
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierId)
                @*@Html.EditorFor(modelItem => item.SupplierId)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
                @*@Html.EditorFor(modelItem => item.Price)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
                @*@Html.EditorFor(modelItem => item.Time)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
                @*@Html.EditorFor(modelItem => item.CreatedDate)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
                @*@Html.EditorFor(modelItem => item.CreatedBy)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptedBy)
                @*@Html.EditorFor(modelItem => item.AcceptedBy)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptedDate)
                @*@Html.EditorFor(modelItem => item.AcceptedDate)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
                @*@Html.EditorFor(modelItem => item.Comments)*@
            </td>
            <td>
            </td>
            <td>
                @Html.ActionLink(linkText: "Accept", actionName: "Accept", controllerName: "MyProjectBids", routeValues: new {projectId = item.Id, bidId = item.Id }, htmlAttributes: null)   |
                <a onclick="ToggleDialog()" class="popupLink" >Decline</a>
            </td>
        </tr>
        @*<div id="Dialog-Box" class="popup">
            <a onclick="ToggleDialog()" class="popupLink">Close</a>
            @using (Html.BeginForm("Edit", "MyProjectBids"))
                {
                @Html.EditorFor(modelItem => item.DeclineReason)
                @Html.HiddenFor(modelItem => item.Id)
                <input type="submit" value="Save" class="btn btn-default" />

            }
            @Html.ActionLink(linkText: "Save", actionName: "Edit", controllerName: "MyProjectBids", routeValues: new { id = item.Id }, htmlAttributes: null)
            <p>Would like to be able to edit the Decline Reason here, but having trouble getting it to hit the controller correctly on save. </p>
        </div>*@

    }
    </table>




<script>
    var currentItemId;
    $('#Dialog-Box').hide();

    function ToggleDialog() {

        //currentItemId = itemId;
        $('#Dialog-Box').toggle();

        BackgroundColor();
    }

    function BackgroundColor()
    {
        if ($('#Dialog-Box').is(":visible"))
        {
            $("body").css("background-color", "rgba(0, 0, 0, 0.7)");
            $('#Dialog-Box').css("background-color", "white");
        }
        else {
            $("body").css("background-color", "white");
            //$('#Dialog-Box').css("background-color", "white");
        }

    }
</script>